h1 {
  font-size: 30px;
  font-family: sans-serif;
  color: red;
  text-align:center;
  width: 400px;
  border: 10px solid rgb(247, 223, 223)
  }

h2 {
    font-size: 28px;
    font-family: sans-serif;
    text-align:center;
  }

p1 {
    font-size: 25px;
    font-family: sans-serif;
    text-align: left;
    color: blue;
  }

p2 {
  font-size: 20px;

  color: black;
  }

p3 {
  font-size: 25px;
  font-family: sans-serif;
  text-align: left;
  color: blue;
  }

li {
    font-size: 22px;
    color: blue;
    line-height: 1.3;
    letter-spacing:1px ;
    }

A {
    color: red;
    }   

body{
  width: 400px;
  margin: 10px auto;
  padding: 0 40px 10px 20px;
  border: 2px solid blueviolet;        
}      

button {
  font-size: 20px;
  font-family: sans-serif;
  width: 370px;
  padding: 5px;
  letter-spacing:5px 
}

.container{
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  padding: 15px
}

.answer{
  font-size: 18px;
  width: 363px;
  color: red;
}

.newname {
  font-size: 18px;
  border: 1px solid black;
  padding: 80px；
  width: 100px;
  height: 80px;
  color: red;
};

